@tailwind base;
@tailwind components;
@tailwind utilities;

/* General styles */
.bg-size {
  background-size: 500% 300% ;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
body {
  @apply overflow-x-hidden;
}

/* markdown editor classes */
.wmde-markdown-var {
  @apply mt-2 !bg-black rounded-lg border-[1px] border-[#303030] dark:border-black p-4 px-3 dark:text-white;
}

.wmde-markdown pre {
  @apply !text-white;
}

/* custom container */
.custom-container {
  position: relative !important;
  margin-right: 0 !important;
  margin-left: auto !important;
  width: 100% !important;
  max-width: none !important;
}

@media (min-width: 640px) {
  .custom-container {
    max-width: calc(
      100% - 2rem
    ) !important; /* Adjust according to your needs */
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: calc(100% - 3rem) !important;
  }
}

@media (min-width: 1024px) {
  .custom-container {
    max-width: calc(100% - 6rem) !important;
  }
}

@media (min-width: 1280px) {
  .custom-container {
    max-width: calc(100% - 6rem) !important;
  }
}

@media (min-width: 1536px) {
  .custom-container {
    max-width: calc(100% - 7rem) !important;
  }
}
@media (min-width: 1890px) {
  .custom-container {
    max-width: calc(100% - 12rem) !important;
  }
}

/* Swiper slider classes */
.main-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumb-slider .swiper-slide {
  width: auto;
  cursor: pointer;
}
.product-details__swiper .swiper-slide {
  cursor: pointer;
  opacity: 0.4;
}

.product-details__swiper .swiper-slide-thumb-active {
  opacity: 1;
}

/* Components classes */
.hover-zoom-effect:hover img {
  @apply transition-transform duration-500 ease-in-out transform scale-110;
}

.thumbnail {
  position: relative;
  width: 100%;
}

.thumbnail-active {
  border: 2px solid #0070f3;
}

.backface-visible {
  backface-visibility: visible;
}

.backface-invisible {
  backface-visibility: hidden;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  height: 100%;
}
.embla__slide-prev {
  flex: 0 0 30%;
  margin-left: 18%;
  height: 100%;
}
#linkIcon {
  display: none;
}
.link-with-icon:hover #linkIcon {
  display: block;
  transition: all 0.3ms ease;
}

.yarl__thumbnails_thumbnail {
  border-color: transparent !important;
}
.yarl__thumbnails_thumbnail_active {
  @apply !border-primary;
}
.yarl__button {
  @apply !text-primary;
}

.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #d8d8d8;
}

.cls-3 {
  fill: #655cfe;
}

.cls-4 {
  fill: #01112d;
}

.cls-5 {
  fill: #e0e1e2;
}

.cls-6 {
  fill: #c4c5c6;
}

.cls-7 {
  fill: #e6e7e8;
}

.cls-8 {
  fill: #ededed;
}
